body {
  font-family:Verdana;
  background-color:#ffffff;
  margin: 5px 5px 5px 5px;
}

h1 {
  font-size:16pt;
  color:red;
  text-align:center;
}

h2 {
  font-size:14pt;
  color:blue;
}

p {
  font-size:9pt;
  color:black;
  text-align:justify;
}

.tag {
  font-size:8pt;
  font-family:monospace;
  border-style:solid;
  border-width:1px;
  border-color:#0000cc;
  color:#0066ff;
}

.header {
  font-size:10pt;
  text-align:right;
  color:#0000cc;
}

.footer {
  font-size:10pt;
  text-align:center;
  color:#0000cc;
}


a:link{color:#000000;text-decoration:none}
a:visited{color:#000000}
a:hover{color:#red;text-decoration:underline}
a:active{color:#000000}


ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: left;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
