body {
  font-family:Verdana;
  background-color:#ffffffs;
  margin: 5px 5px 5px 5px;
}

h1 {
  font-size:16pt;
  color:red;
  text-align:center;
}

h2 {
  font-size:14pt;
  color:blue;
}

p {
  font-size:9pt;
  color:black;
}

.tag {
  font-size:8pt;
  font-family:monospace;
  border-style:solid;
  border-width:1px;
  border-color:#0000cc;
  color:#0066ff;
}

.header .footer {
  font-size:10pt;
  text-align:center;
  color:#0000cc;
}

a:link{color:#ffffff;text-decoration:none}
a:visited{color:#ffffff}
a:hover{color:#red;text-decoration:underline}
a:active{color:#ffffff}


ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: left;
}

img {
  align:center;
}
