<!doctype html>
<html lang="en">
<head>
  <title>Yet Another RSS Reader</title>
  <meta charset="utf-8">
  <meta name="description" content="RSS reader">
  <meta name="author" content="Víctor Peinado">
  <link rel="icon" type="image/ico" href="static/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>

<div id="header">
<p>| <a href="/">EN</a>| <a href="/es">ES</a> | <a href="/about">about</a> |</p>
</div>

<h1>Yet Another RSS Reader</h1>

<p>
  This is a small personal project playing around with some NLP libraries in Python such as <a href="http://www.clips.ua.ac.be/pattern">Pattern</a> and <a href="http://www.alchemyapi.com/">AlchemyAPI</a>.
</p>

<p>
  <img src="http://www.alchemyapi.com/sites/default/files/alchemyAPI.png" alt="Text Analysis by AlchemyAPI" />
</p>

<div id="footer">
<p>| <a href="http://vitojph.github.io">vitojph</a> | <a href="http://www.alchemyapi.com/">Text Analysis by AlchemyAPI</a> | 2014 |</p>
</div>


</body>
</html>
